* {
    margin: 0;
    padding: 0;
}

#wrapper {
    position:relative;
    width:100%;
    min-height: 100vh;
}

#app {
    margin: 60px auto 0 auto;
    max-width: 1024px;
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    text-align: center;
}

.navigation {
    background-color: white;
    z-index: 100;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    height: 60px;
    position: fixed;
    top: 0px;
    overflow: hidden;
}

.container {
    margin: 30px 20px 30px 20px;
}

.home-button {
    float: left;
}

.menu {
    height: 100%;
    float: right;
}

.home, .item {
    position: relative;
    top: 50%;
    margin-top: -50%;
}

.menu > li {
    display: inline;
}

.menu-toggle {
    display: none;
}

.vl {
    position: relative;
    top: 50%;
    border-left: 1px solid lightgray;
    height: 100%;
    margin: 20px;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

ul.menu {
    list-style: none;
}

.restart-button, .undo-button {
    width: 40%;
    height: 50px;
}

.footer {
    position: absolute;
    bottom: 0px;
    background-color: #ececec;
    width: 100%;
    height:60px;
}

.instruction {
    display: flex;
}

.profile-image {
    display: inline;
    padding: 0 20px 0 20px;
    width:30%;
    height:auto;
}

.pagination {
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.page-item {
    display: inline;
}

.page-item .page-link {
    border: 1px solid lightgray;
    color: #4B89DC;
}

.page-item.active .page-link {
    color: white;
}

.active {
    background-color: #4B89DC;
}

.hide {
    display: none;
}

@media (max-width: 700px) {
    .navigation {
        height: 90px;
        text-align: center;
    }

    .menu {
        width: calc(100% - 40px);
        height: auto;
        display: none;
        float: none;
    }

    .home, .item {
        display: block;
        top: 0px;
        margin-top: 0px;
    }

    .menu-toggle {
        width: 40px;
        display: block;
        float: right;
    }

    #app {
        margin-top: 90px;
    }

    .vl {
        display: none;
    }

    .instruction {
        display: block;
    }

    .profile-image {
        display: block;
        width: 100%;
    }

    .container {
        margin: 0 5px 0 5px;
    }
}