* {
    margin: 0;
    padding: 0;
}

#app {
    position: absolute;
    top: 60px;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    text-align: center;
    overflow: hidden;
}

.navigation {
    background-color: white;
    z-index: 100;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    height: 60px;
    position: fixed;
    overflow: hidden;
}

.home-button {
    float: left;
}

.menu {
    height: 100%;
    float: right;
}

.home, .item {
    position: relative;
    top: 50%;
    margin-top: -50%;
}

.menu > li {
    display: inline;
}

.menu-toggle {
    display: none;
}

.vl {
    position: relative;
    top: 50%;
    border-left: 1px solid lightgray;
    height: 100%;
    margin: 20px;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

@media (max-width: 700px) {
    .navigation {
        height: auto;
        text-align: center;
    }

    .menu {
        width: calc(100% - 40px);
        height: auto;
        display: none;
        float: none;
    }

    .home, .item {
        display: block;
        top: 0px;
        margin-top: 0px;
    }

    .menu-toggle {
        width: 40px;
        display: block;
        float: right;
    }

    #app {
        top: 20%;
    }

    .vl {
        display: none;
    }
}